.toolset-item {
gap: 10px;

width: 160px;
height: 160px;

background: #F7F7F7;
border-radius: 30px;
cursor: pointer;

display: inline-block;
text-align: center;


}

.toolset-img {
  width: 100px;
  background: transparent;
}

.toolset-label {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300!important;
  font-size: 12px!important;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: 0.0168em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  color: #616161;
  

}
