.ant-upload.ant-upload-select{
/*     width: 50% !important;
    height: auto  !important; */
    padding:40%;
}

.avator{
    text-align: center;
    margin-top: 50%;
}

.container{
    margin-top: 4vh;
    margin-left: 10vh;
/* top:500px;
position: relative; */
}
.userInfor{
    padding-left: 5%;
}
h1{
    font-size: 1vw;
}
h2{
    font-size: 2vw;   
    text-align: left; 
}